/* Estilos para los NavLinks */
.main-navbar a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.main-navbar a:hover {
  background-color: #f0f0f0;
}

/* Estilo para el NavLink activo */
.main-navbar a.active {
  color: #03264c;
  font-weight: bold;
  border-bottom: 3px solid #03264c;
}

